.treelist-with-nav .#{$prefix}panel-body {
    background-color: #32404e;
}

.application-search-icon {
    padding-top: 14px;
    padding-left: 14px;
    font-size: 14px;
    width: 14px;
}


.application-search-input {
    margin: 14px;
}

.application-profile-header {
    font-weight: 900;
    font-size: 1.2em;
    color: #adb3b8;
}